allow rild proc_net:file w_file_perms;
allow rild vendor_rild_libpath_prop:file read;

r_dir_file(rild, app_efs_file)

# set_prop(rild, system_radio_prop)
